*{
    margin: 0;
    padding: 0;
}

/* Header Start */
header{
    /* border: 1px solid rgb(240, 236, 236); */
    background-color: #121b2a;
    overflow: hidden;
}

.container {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid green; */
}

.logo {
    width: 15%;
    float: left;
    /* border: 1px solid darkmagenta; */
    padding: 20px 0px;
}

.logo img{
    width: 100%;
}

.login{
    /* border: 1px solid palegreen; */
    overflow: hidden;
    padding: 0px;
    padding-bottom: 20px;
}

.login ul{
    float: right;
}

.login ul li{
    display: inline-block;
    padding: 15px 30px;
    /* border: 1px solid brown; */
    text-align: center;
    margin-left: -4px;
}
.client{
    background-color: ffffff;
}

.client a{
    color: rgb(33, 32, 32)
}

.employee{
    background-color: #0078bd;
}

.employee a{
    color: #ffffff;
}

.login ul li a{
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}

.menu {
    width: 70%;
    float: right;
    /* border: 1px solid darkmagenta; */
    padding: 15px 0px;
}

.menu ul{
    float: right;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    float: left;
    padding: 0px 25px;
}

.menu ul li:last-child{
    padding-right: 0;
}
.menu ul li:first-child{
    padding-left: 0;
}

.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}

.menu ul li a:hover{
    color: #0078bd;
}
/* Header End */


/* Banner Start */
.container2{
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid green; */
}
.banner {
    background-color: #121b2a;
    overflow: hidden;
}

.b-content {
    float: left;
    width: 50%;
    position: absolute;
    color: white;
    font-family: sans-serif;
    padding-top: 200px;
}

.b-content h1{
    text-transform: capitalize;
    font-size: 50px;
    width: 100%;
}

.deli-mob{
    font-weight: 300;
}

.com-sol{
    color: #0078bd;
}

.b-content p{
    padding: 20px 0 70px 0;
    line-height: 30px;
    font-size: 20px;
    width: 100%;
}

.learn-more{
    padding: 15px 50px;
    background-color: ffffff;
    color: black;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 20px;
}


.b-image {
    float: right;
    width: 55%;
}

.b-image img{
    width: 100%;
}
/* Banner End */


/* Service Start */
.service {
    /* border: 5px solid red; */
    background-color: #121b2a;
}

.container3 {
    width: 85%;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid green */
    background-color: #121b2c;
    padding: 30px 0;
}

.s-content {
    /* border: 1px solid blue; */
    
}

.s-content :first-child{
    /* border: 1px solid blue; */
    padding-left: 0px;
    
}

.s-content :last-child{
    /* border: 1px solid blue; */
    padding-right: 0;
    margin-right: 0;
    border-right: 1px;
    
}


.cyber-security {
}

.card{
    width: 27%;
    /* border: 1px solid rgb(24, 196, 124); */
    float: left;
    font-family: sans-serif;
    color: white;
    padding: 30px 50px;
    margin: 0px 0px;
    border-right: lightgrey;
    border-right: 1px solid #1a2430;
}



.cyber-headline {
    
}

.card-headline{
    overflow: hidden;
    padding: 0 0 20px 0;
}

.cyber-img {
    
}

.card-img{
    float: left;
    margin-right: 10px;
}

.cyber-title {
}

.card-title{
    width: 70%;
    float: left;
}

.card-title h3{
    font-size: 20px;
    text-transform: capitalize;
    padding-top: 25px;
    font-weight: 300;
}

.card-title h3 span{
    color: #007abd
}

.cyber-content {
}

.card-content{}

.card-content p{
}

.app-development {
}

.app-headline {
}

.app-img {
}

.app-title {
}

.app-content {
}

.wireless-system {
}

.wireless-headline {
}

.wireless-img {
}

.wireless-title {
}

.wireless-content {
}
/* Service End */


/* Contact Start */
.contact {
    background-color: #040811;
    /* border: 2px solid red; */
    color: white;
    font-family: sans-serif;
}

.container4 {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid green; */
}

.c-content {
    margin: 20px 0px 0px 5px;
}

.c-content:first-child {
    /* margin-left: 0; */
}

.c-content:last-child {
    margin-right: 0;
}

.contact-card{
    /* border: 1px solid orange; */
    width: 25%;
    float: left;
    padding: 20px 16px;
    margin: 0px 0 0px 0px;
}



.contact-card h3{
    text-transform: capitalize;
    padding-bottom: 20px;
    font-size: 23px;
    font-weight: 300;
}

.contact-card p{
    padding-bottom: 20px;
}

.contact-info {
    /* width: 25%; */
}

.contact-info h3{
}

.contact-info h3 span{
    color: #0078bd;
}

.contact-info p{
}

.contact-info table{
    color: white;
    line-height: 25px;
    font-size: 12px;
}

.contact-info table tr td{
    padding: 0px 20px 0px 0px;
}

.testimonial {
    width: 35%;
}

.testimonial-body {
    background-color: #0c1019;
    padding: 20px 30px;
}

.testimonial-body h3{
}

.testimonial-body h3 span{
    color: #0078bd;
}

.testimonial-body p{
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 80px 0 0;
    border-color: #0c1019 transparent transparent transparent;
    margin-left: 190px;
}

.signature {
    margin-top: 30px;
}

.signature h3{
}

.signature p{
}

.signature p a{
    text-decoration: none;
    color: white;
}
.app-download {
    width: 30%;
}

.app-content{
    float: left;
    margin-right: 10px;
}

.iphone {
}

.app-name {
}

.app-name h2{
    /* font-weight: 300; */
    color: #0078bd;
    font-weight: 700;
}

.app-name h2 span{
    color: white;
    font-weight: 300;
}

.app-name h2{
    margin-bottom: 20px;
}
/* Contact End */


/* Footer Start */
.footer {
    background-color: #121b2c;
    color: white;
    overflow: hidden;
    font-family: sans-serif;
}

.container5 {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    /* border: 1px solid green; */
    padding: 30px 0;
    font-size: 14px;
}

.f-content {
    width: 60%;
    float: left;
    padding: 0px 0px;
}


.footer-menu {
    margin-bottom: 15px;
}

.footer-menu a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0 10px;
    border-right: 1px solid white;
}

.footer-menu a:first-child{
    padding-left: 0;
}

.footer-menu a:last-child{
    padding-right: 0;
    border-right: none;
}

.copyright {
}

.copyright p{
}

.f-logo {
    width: 30%;
    float: left;
    overflow: hidden;
}

.footer-second {
    overflow: hidden;
}

.column {
    float: left;
    width: 45%;
}

.symbian-logo {
    margin-right: 20px;
}

.column img{
    width: 100%;
}
/* Footer End */